@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  height: 100vh;
  background-image: url("/dadImage.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  backdrop-filter: blur(150px);
}
